<section class="admin">
  <%= render "shared/left_nav" %>

  <div id="admin_contents">
    <%= render "shared/admin_header" %>
    <div class="admin_contents">
      <div class="admin_title">
        <h2>アクセス情報</h2>
        <%= image_tag "access.png", class: "admin_ga" %>
      </div>
    </div>
    <%= render "shared/admin_footer" %>
  </div>
</section>