<footer class="admin_footer">
  <p>&copy;&nbsp;2020&nbsp;Skipcafe</p>
</footer>
<script>
  $("#dropdown_user_btn").on("click", function(){
    $("#dropdown_user_btn").toggleClass("transform");
  });
  $("#dropdown_news_btn").on("click", function(){
    $("#dropdown_news_btn").toggleClass("transform");
  });
</script>
<script>
$(function(){
  $('.sidebar-menu li a').each(function(){
    var target = $(this).attr('href');
    if(location.href.match(target)) {
      $(this).parent().addClass('current');
    } else {
      $(this).parent().removeClass('current');
    }
  });
});
</script>