<footer id="footer">
  <div>
    <%= link_to(root_path) do %>
      <%= image_tag "logo.png", class: "footer_logo" %>
    <% end %>
  </div>
  <p id="copyright">&copy;&nbsp;2020&nbsp;Skipcafe</p>
</footer>
<script>
  $("#hamburger").on("click", function(){
    $("#nav").toggleClass("sp_nav");
  });
  $("#hamburger").on("click", function(){
    $("#hamburger").toggleClass("close");
  });
</script>