<div id="hamburger" class="hamburger">
    <span class="hamburger_line"></span>
  </div>
  <header>
    <div class="header_flex">
      <h1>
        <a href="../views/index.html"><%= image_tag "logo.png" %></a>
      </h1>
      <nav id="nav">
        <ul>
          <li><a href="../views/news.html">News</a></li>
          <li><a href="../views/access.html">Access</a></li>
          <li><a href="../views/contact.html">Contact</a></li>
          <li><a href="http://skip.ocnk.net/">Online&nbsp;Shop</a></li>
        </ul>
      </nav>
      <div class="instagram">
        <a href="https://www.instagram.com/skipcafe/" target="_blank">
          <%= image_tag "instagram.png" %>
        </a>
      </div>
    </div>
  </header>