<h5>Webサイトからお問い合わせがありました。</h5>

<p>--------------------------</p>

<p>お名前: <%= @contact.name %></p>
<p>URL: <%= @contact.url %></p>
<p>メールアドレス: <%= @contact.mail %></p>

<p>お問い合わせ内容:<br>
<%= @contact.message %></p>

<p>--------------------------</p>