<section id="admin_login">
  <div class="admin_box">
    <div class="admin_login">
      <h2>スキップカフェ管理画面</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="user_login_field">
          <label>メールアドレス</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="user_login_field">
          <label>パスワード</label>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <div class="user_login_action">
          <%= f.submit "ログイン", class: "action_login" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
