/* ログイン画面 */
#admin_login{
  width: 100vw;
  height: 100vh;
  background-image: url("skipcafe_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
.admin_box{
  padding-top: 140px;
}
.admin_login{
  width: 920px;
  margin: 0 auto;
  padding: 80px;
  background-color: #fff;
  border-radius: 20px;
}
.admin_login h2{
  text-align: center;
  font-size: 22px;
  border-bottom: 1px solid #E7E7E7;
  padding-bottom: 20px;
}
.admin_login form{
  margin-top: 0;
}
.user_login_field{
  padding-top: 30px;
}
.user_login_field input{
  width: 100%;
  margin-top: 15px;
}
.user_login_action{
  text-align: center;
  padding-top: 60px;
}
.action_login{
  width: 160px;
  height: 42px;
  text-align: center;
  color: #fff;
  background-color: #707070;
}
.action_login:hover{
  opacity: 0.6;
  transition: 0.2s;
}

/* ユーザー新規登録 */
#admin_signup{
  width: 100vw;
  height: 100vh;
  background-image: url("skipcafe_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
.admin_signup_box{
  padding-top: 50px;
}
.user_new{
  width: 920px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 20px;
}
.user_new h2{
  text-align: center;
  font-size: 22px;
  border-bottom: 1px solid #E7E7E7;
  padding-bottom: 20px;
}
.user_new form{
  margin-top: 0;
}
.user_new_field{
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}
.user_new_field span{
  background-color: #666666;
  padding: 4px 8px;
  margin-left: 8px;
  border-radius: 6px;
  font-size: 11px;
  color: #fff;
}
.user_new_field input{
  width: 100%;
  margin-top: 8px;
}
.user_new_actions{
  width: 380px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 25px;
}
.admin_signin{
  width: 180px;
  height: 42px;
  padding-top: 12px;
  color: #fff;
  background-color: #707070;
}
.admin_new_submit{
  width: 180px;
  height: 42px;
  text-align: center;
  color: #fff;
  background-color: #707070;
}
.admin_new_submit:hover,.admin_signin:hover{
  opacity: 0.6;
  transition: 0.2s;
}


/* トップページ */
.admin{
  display: flex;
}

/* 左ナビゲーション */
#admin_nav{
  position: fixed;
  width: 17vw;
  height: 100vh;
  background-color: #E7E7E7;
}
#admin_nav h1{
  text-align: center;
}
.admin_logo{
  width: 70px;
  padding: 20px 0;
  text-align: center;
}
.admin_nav{
  padding: 15px 0;
}
.admin_nav li,.admin_nav span{
  color: #333 !important;
}
.admin_nav_home{
  padding: 15px 0 15px 10px;
}
.admin_nav_home:hover{
  background-color: #D7D7D7;
  transition: 0.4s;
}
.admin_nav_home a{
  display: inline-block;
  font-size: 16px;
}
.admin_nav_link:hover{
  background-color: #D7D7D7;
  transition: 0.4s;
}
.admin_nav_link a{
  display: block;
  padding: 15px 0px 15px 10px;
}
.admin_nav_text{
  padding: 15px 0 15px 10px;
  background-color: #D7D7D7;
}
.fa-angle-right{
  position: absolute;
  right: 30px;
  transform: rotate(90deg);
}
.admin_content{
  font-size: 14px;
}

/* 右コンテンツ */
#admin_contents{
  position: absolute;
  right: 0;
  width: 83vw;
  height: 100%;
  background-color: #F7F7F7;
}

/* ヘッダー */
.admin_header{
  text-align: end;
  padding: 35px 40px;
  background-color: #fff;
}
.log_out{
  padding: 28px 4px;
  border-radius: 50%;
  background-color: #E7E7E7;
  font-size: 12px;
}
/* コンテンツ */
.admin_contents{
  width: 80vw;
  margin: 0 auto;
}
.admin_title{
  width: 80vw;
  margin: 40px auto 0;
  background-color: #fff;
  border-top: 4px solid #E7E7E7;
}
.admin_title h2{
  padding: 30px 0 15px 20px;
  font-size: 20px;
  border-bottom: 1px solid #E7E7E7;
}
.admin_ga{
  width: 100%;
  margin-top: 30px;
}

/* フッター */
.admin_footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  border-top: 4px solid #E7E7E7;
  background-color: #fff;
}

/* ユーザー情報編集 */
.user_edit{
  width: 78vw;
  margin: 50px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.user_edit_field{
  padding-bottom: 30px;
  text-align: end;
}
.user_edit_field label{
  margin-right: 10px;
  font-size: 14px;
  text-align: right;
}
.user_edit_field input{
  width: 350px;
  text-align: start;
  border: 1px solid #E7E7E7;
}
.left_field{
  width: 500px;
}
.right_field{
  width: 560px;
}
.user_edit_actions{
  text-align: center;
  padding: 30px 0 40px;
}
.user_edit_actions input{
  width: 160px;
  height: 42px;
  text-align: center;
  color: #fff;
  background-color: #707070;
}
.user_edit_actions input:hover{
  opacity: 0.6;
  transition: 0.2s;
}

/* ユーザー一覧 */
#user_pagination{
  text-align: center;
  padding: 60px 0 40px;
}
.user_pagination span{
  margin: 0 5px;
  padding: 10px 8px 10px 13px;
  border:1px solid #666666;
  border-radius: 50%;
}
.user_pagination span:first-child{
  margin-right: 20px;
  border-radius: 20px !important;
}
.user_pagination span:last-child{
  margin-left: 20px;
  border-radius: 20px !important;
}
.user_pagination span:hover{
  background-color: #666666;
  color: #fff;
  transition: 0.2s;
}
.user_pagination>.active>a {
  background-color: #666666;
}

/* 新規登録 */
.admin_form{
  width: 1180px;
  margin: 0 auto;
}
.admin_form h2{
  border-top: 4px solid #E8E8EB;
  padding: 10px;
  font-size: 18px;
}
.admin_form form{
  margin-top: 0px;
  padding: 10px;
  border-top: 1px solid #E8E8E8;
}
.admin_submit{
  width: 170px;
}

/* お知らせ新規投稿 */
.edit_contents{
  height: 130% !important;
}
#admin_news_form{
  width: 77vw;
  margin: 30px auto 120px;
}
.admin_news_form{
  margin-bottom: 40px;
}
.admin_news_form label{
  font-size: 17px;
}
.admin_news_form span{
  background-color: #666666;
  padding: 6px 12px;
  margin-left: 12px;
  border-radius: 6px;
  font-size: 12px;
  color: #fff;
}
.admin_news_form input,.admin_news_form textarea{
  margin-top: 15px;
  width: 820px;
  border: 1px solid #E7E7E7;
}
#news_image{
  padding: 60px 300px;
  background-color: #F7F7F7;
}
.admin_news_submit{
  padding-bottom: 40px;
}
.admin_news_submit input{
  width: 160px;
  height: 42px;
  text-align: center;
  color: #fff;
  background-color: #707070;
}
.admin_news_submit input:hover{
  opacity: 0.6;
  transition: 0.2s;
}

/* お知らせ一覧 */
#admin_table{
  width: 96%;
  margin: 40px auto 0;
  border: 1px solid #D7D7D7;
}
.admin_table th{
  padding: 15px 0px;
  text-align: center;
  background-color: #E7E7E7;
  border-right: 1px solid #D7D7D7;
}
.admin_table th:last-child{
  border-right: none;
}
.admin_table td{
  padding: 15px 0;
  text-align: center;
  border-right: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;
}
.admin_table td:last-child{
  border-right: none;
}
.table_logo{
  width: 24px;
}
#admin_pagination{
  text-align: center;
  padding: 60px 0 40px;
}
.admin_pagination span{
  margin: 0 5px;
  padding: 10px 8px 10px 13px;
  border:1px solid #666666;
  border-radius: 50%;
}
.admin_pagination span:first-child{
  margin-right: 20px;
  border-radius: 20px !important;
}
.admin_pagination span:last-child{
  margin-left: 20px;
  border-radius: 20px !important;
}
.admin_pagination span:hover{
  background-color: #666666;
  color: #fff;
  transition: 0.2s;
}
.admin_pagination>.active>a {
  background-color: #666666;
}

/* お知らせ編集 */
#news_edit_form{
  width: 77vw;
  margin: 30px auto 120px;
}
.news_edit_form{
  margin-bottom: 40px;
}
.news_edit_form label{
  font-size: 17px;
}
.news_edit_form span{
  background-color: #666666;
  padding: 6px 12px;
  margin-left: 12px;
  border-radius: 6px;
  font-size: 12px;
  color: #fff;
}
.news_edit_form input,.news_edit_form textarea{
  margin-top: 15px;
  width: 820px;
  border: 1px solid #E7E7E7;
}
#news_image{
  padding: 60px 300px;
  background-color: #F7F7F7;
}
.news_edit_submit{
  padding-bottom: 120px;
}
.news_edit_submit input{
  width: 160px;
  height: 42px;
  text-align: center;
  color: #fff;
  background-color: #707070;
}
.news_edit_submit input:hover{
  opacity: 0.6;
  transition: 0.2s;
}